@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
	background-image: url("/static/images/instagram_background.jpg");
}

header {
	height: 70px;
}

.content {
	width: 800px;
	margin: auto;
	background-color: rgba(224, 224, 224, 0.54);
	border-top-left-radius: 15px; border-top-right-radius: 15px;
}
.content > .joinbox {
	width: 400px;
}

footer {
	height:45px;
}